body{

  background-color: black;
   color: white;
    font-style: oblique;

}
h2{
 color: blue;


}
h1{
    color: lightslategrey;

}
div > .rk{
    float: right;
    width: 50%;

}
div > .vb{
    float:left;
    width: 50%;
}
input{
    height: 60px;
    background-color:#3f4042 ;
}
a{
    text-decoration: ;
}